@mixin verticalAlignCenter() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav.navbar-top {
  height: 120px;
  width: 100vw;
  color: #d9b08c;
  padding-left: 1.5em;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;

  .logo {
    font-family: "Bungee", cursive;
    font-size: 1.5em;
    align-self: center;
    -webkit-text-stroke: 3px black;
  }

  button#new-tweet {
    @include verticalAlignCenter;
    background: none;
    outline: none;
    border: none;
    color: #d9b08c;
    width: 120px;
    word-wrap: break-word;
    -webkit-tap-highlight-color: transparent;

    font-size: 20px;
    height: 100%;
    padding: 20px;

    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }

    &.hide {
      display: none;
    }
  }
}

#arrow-icon {
  position: relative;
  height: 30px;
  width: 100%;

  i.arrow-icon {
    position: absolute;
    font-size: 15px;
    color: #d1e8ec;
    margin: 0;

    animation: 1.5s infinite linear moveUpDown;
  }
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0);
  }
}

/* Tablet Styles */
@media only screen and (min-width: 768px) {
  nav.navbar-top {
    padding: 0 1.5em;
    button#new-tweet {
      width: auto;
    }
  }
}

@media only screen and (min-width: 1024px) {
  nav.navbar-top {
    background-color: #a40000;
  }
}
