nav.navbar-top {
  height: 120px;
  width: 100vw;
  color: #d9b08c;
  padding-left: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}
nav.navbar-top button#new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: none;
  outline: none;
  border: none;
  color: #d9b08c;
  width: 120px;
  word-wrap: break-word;
  -webkit-tap-highlight-color: transparent;
  font-size: 20px;
  height: 100%;
  padding: 20px;
  cursor: pointer;
}
nav.navbar-top button#new-tweet:hover {
  transform: scale(1.1);
}
nav.navbar-top button#new-tweet.hide {
  display: none;
}

#arrow-icon {
  position: relative;
  height: 30px;
  width: 100%;
}
#arrow-icon i.arrow-icon {
  position: absolute;
  font-size: 15px;
  color: #d1e8ec;
  margin: 0;
  animation: 1.5s infinite linear moveUpDown;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}
#logo {
  display: inline-flex;
  align-items: center;
  font-family: "Bungee", cursive;
  font-size: 1.5em;
  align-self: center;
  -webkit-text-stroke: 3px black;
}
#logo img {
  height: 50px;
  object-fit: contain;
}

/* Tablet Styles */
@media only screen and (min-width: 768px) {
  nav.navbar-top {
    padding: 0 1.5em;
  }
  nav.navbar-top button#new-tweet {
    width: auto;
  }
}
@media only screen and (min-width: 1024px) {
  nav.navbar-top {
    background-color: #a40000;
  }
}
